# Byte-compiled Python files
*.pyc
*.pyo
*.pyd
__pycache__/
frames/

# Virtual environment directories
venv/
env/
.venv/
.env/

# IDE and editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini

# Build and distribution directories
build/
dist/
*.egg-info/

# API-specific files
/Api/__pycache__/
/Api/fyp/
/Api/Puretoons-BertBase-6000/
/Api/Puretoons-BertBase-7000-contrastive/
/Api/uploaded_videos/
/Api/best.pt
/Api/processed_frames/
# Node.js dependencies (if applicable)
/node_modules/
# Environment variables
.env